* { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }


.nav{
  width: 100%;
  background-color: #282738;
  color:white;
  
}
.top-bar-wrapper{
  padding-right: 30px;
  padding-left: 30px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.top-bar-title{
  font-size: 32px;
}

.iconToggle{
  font-size: 20px;
  width: 100%;
  cursor:pointer;
}

.root{
  background-color:black;
  height: 100vh;
  overflow-y: hidden;
}

.selector-bar{
  display: flex;
  justify-content: space-evenly;
  
}

.selector-option{
  cursor:pointer;
  opacity: 0.7;
  font-size: 18px;
  width: 96px;
  text-align: center;
}

.underline{
  opacity: 1 !important;
  border-style: solid;
  border-width: 0px 0px 3px 0px;
  border-color: white;
  padding-bottom: 10px;
  

}

.main-view-wrapper{
  padding: 15px;
}

.search-input{
  width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;    
  box-sizing: border-box;
  border-radius: 10px;
  color:white;
  background-color:#292639;
  border-style:none;
  height:50px;

}

.search-wrapper{
  position:relative;
}

.select-input{
  
  width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;    
  box-sizing: border-box;
  border-radius: 10px;
  color:white;
  background-color:#292639;
  border-style:none;
  -webkit-appearance: none;
}

.card{
  background-color:#292639;
  margin-top:15px;
  color:white;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  min-height: 70px;
  max-height: 500px;
  align-items: center;
  

}

.card:first-of-type{
  margin-top:0px !important;
}

.card-user{

}

.cardlist-scrollable{
  overflow-y: scroll !important;
  max-height: 65vh;
  min-height: 65vh;
  border-radius: 10px;
  margin-top: 10px;
}

.card-completed div{
  flex: 1;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

}



.card-info{
  flex: 4;
}

.closed{
  background-color: #6BDD8A !important;
  transition: background-color .5s linear;
  -webkit-transition: background-color .5s linear;
    -moz-transition: background-color .5s linear;
    -ms-transition: background-color .5s linear;
    -o-transition:background-color .5s linear;
}


.open{
  background-color: #3B3753;
  
}


@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-ms-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
  }
}



.complete-icon{
  color:white;
  font-size: 20px;

}

.floating-add-button{
  background-color:white;
  color: black;
  height: 65px;
  width: 65px;
  border-radius: 50%;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 5%;
  right: 5%;

}

.floating-add-button p {
  font-size: 20px;
}


.slide-pane__content{
  background-color: black;
}

.button-wrapper {
  color: white;
  width: 100%;
  text-align: center;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 20px;
}

.finish{
  background-color: #6ADD8A;
  border-radius: 10px;
  
}

.add-view-wrapper{
  display: flex;
  flex-direction: column;
  
}

.add-view-wrapper .add-view-wrapper-element{
  flex: 1;
}

.slideup-title h2{
  text-align: center;
  color:white;
}

.slideup-header{
  margin-bottom: 20px;
  display: flex;
  align-items: center;

}

.slideup-header .slideup-back, .slideup-header .slideup-offset{
  flex: 1;
}

.slideup-header .slideup-title{
  flex: 2
}

.back-arrow{
  color:white;
  font-size: 20px;
}

.slideup-back{
  cursor: pointer;
}

.card-edit{
  color:white;
  font-size: 17px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
  position: relative;
}

::placeholder{
  color:white;
  font-family: 'Poppins', sans-serif;

}


h1,h2,h3,h4,p, strong, .card-user{
  font-family: 'Poppins', sans-serif;
}

.card-user {
  background-color: #3F3C4E;
  display: inline-block;
  padding: 2px 8px;
  border-radius: 6px;
  font-size: 12px;
  margin-top: 5px;
}

.card-user span{
  font-weight: 600;
}

.card-title{
  font-size: 14px;
}

.top-bar-title h2{
  font-size: 32px;
}

.main-view-divider{
  border: 2px solid #292639;
  width: 78px;
  margin: 0 auto;
}


.search-wrapper{
  margin-bottom: 10px;
}


.main-view-divider {
  border: 1px solid #292639;
  width: 78px;
  margin: 0 auto;
}


.slide-up-divider {
  background: #373157;
  border-radius: 8px;
  width: 40px;
  height: 4px;
  margin: 0 auto;
}


.slide-pane.slide-pane_from_bottom.modal-parent.content-after-open {
  background-color: #ffffff00;
}

.slide-pane__content{
  border-radius: 24px 24px 0px 0px;
}

.hover-card{
  background-color:#3C3850;
}

.hover-card-completed{
  background-color:#292639;
}

.hover-card-user{
  background-color:#292639;
}

.hide-options-menu{
  display:none;
}

.show-options-menu {
  position: absolute;
  background-color: rgb(7, 4, 23,.71);
  top: 30px;
  color: white;
  left: 0px;
  font-size: 13px;
  text-align: left;
  left: -128px;
  padding: 0px 10px;
  width: 148px;
  border-radius: 10px;
}

.show-options-menu-triangle {
  position: absolute;
  top: -8px;
  width: 0;
  height: 0px;
  right: 25px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  
  border-bottom: 8px solid rgb(7, 4, 23,.71);
}

.show-options-menu .divider{
  background: #231E3E;
  height: 1px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.show-options-menu p{
  margin: 0px;
  
}


.options-menu-items {
  padding: 10px;
}

.search-svg{
  position: absolute;
    top: 15px;
    right: 10px;
}

.select-input-wrapper{
  position: relative;
  margin-top: 20px;
}

.select-input-wrapper select{
  height: 50px;
}

.select-input-wrapper .down-chevron-icon{
  position: absolute;
  top: 15px;
  right: 10px;
  pointer-events: none;
}

.hide-complete-message{
  display: none;

}

.show-complete-message{
  padding-top: 15px;
  color:white;
  text-align: center;
}

.button-wrapper {
  width: 294px;
  margin: 0 auto;
}

.buttons{
  margin-top: 40px;
}